body {
    margin: 0;
    user-select: none;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    height: 100px;
    background-color: aqua;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    text-align: center;
}
main {
    position: relative;
    top: 100px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 160px);
    background: rgb(68, 198, 116);
    max-height: calc(100vh - 160px);
    overflow: auto;
}
#login, #logout {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
#logout {
    display: none;
}
#dungeon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#x {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.article {
    width: 50vw;
    border: 3px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    max-width: 500px;
}
.article .title {
    width: 25%;
}
.article .author a {
    color: red;
}
.article .content a {
    color: blue;
}